<tr class="<%= cycle("even", "odd") -%>">
  <th>
    <%= link_to '<img src="/images/pencil.png" alt="Edit" />', edit_question_path(question_list.id), :title => 'Edit' %>
    <%= link_to '<img src="/images/remove.png" alt="Remove" />', question_path(question_list.id), :method => 'delete', :title => 'Remove' %>
  </th>
  <td><%= question_list.question %></td>
</tr>
