<h1>Question update</h1>

<div class="form f-exam">
  <% form_for [@exam, @question] do |f| %>
    <%= render 'form', :f => f %>
    <div>
      <%= save_button_tag %>
      <%= cancel_button_tag(edit_exam_path(@exam)) %>
      <%= link_to 'Change question type', :action => 'change_type' %>
    </div>
  <% end %>
</div>
