<h1>New question</h1>

<div class="form f-exam">
  <% form_for [@exam, @question] do |f| %>
    <%= render 'form', :f => f %>
    <div>
      <%= add_button_tag %>
      <%= cancel_button_tag(edit_exam_path(@exam)) %>
    </div>
  <% end %>
</div>
