<h1>New question</h1>
<div class="form f-exam">
  <% form_for @question do |form|%>
    <%=render :partial => 'question', :object => @question, :locals => {:form => form}%>
    <div>
      <button class="save" type="submit"><img src="/images/save.png" alt="" />Create</button>
    </div>
  <% end %>
</div>