/*
	Author: Damir Gubaydullin (FlatSoft LLC)
*/

/* Hard CSS, protect from dummies */


/* Global definitions (begin) */
* { margin: 0; padding: 0; }

body {
	font: 400 13px/20px Georgia, Arial;
	color: #444;
	text-align: left;
	background: #eeecde;
}

fieldset, img { border: 0; }
table, td { border-collapse: collapse; border-spacing: 0; }

div { vertical-align: top; }

ol, ul { list-style: none; }

button, img, input, label, select, td { vertical-align: middle; }
button, label { cursor: pointer; }
	label { color: #777; }
		label:hover { color: #000 !important; }

:active, :focus { outline: none; -moz-outline-style: none; }

::selection { color: #fff; background: #059bcd; }
::-moz-selection { color: #fff; background: #059bcd; }


/* Links */
a { color: #3671A1; text-decoration: underline; }
	a:hover, a.button { color: #444; text-decoration: none; }


/* Titles */
h1 {
	font: 28px/33px Arial;
	letter-spacing: -1px;
	color: #222;
	margin: 0 35px 20px;
	overflow: hidden;
	_zoom: 1;
}
	h1 span { float: right; white-space: nowrap; }
		h1 span i {
			font-size: 18px;
			font-style: normal;
			letter-spacing: 0;
			text-decoration: underline;
		}
			h1 span a, h1 span a:hover i { text-decoration: none; }
		h1 span img { margin: 3px 7px 0 0; }
h2 {
	font: 25px/30px Arial; 
	letter-spacing: -1px;
	color: #444;
	margin: 0 35px 20px;
}
	h2 img { margin-right: 10px; }


/* Form elements */
a.button, button {
	float: left;
	max-height: 26px;
	font: 12px/18px Tahoma, Georgia;
	color: #555;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	background: #fff url(button.gif) 0 100% repeat-x;
	padding: 3px 10px;
	border: 1px solid #ddd;
	border-right-color: #bbb;
	border-bottom-color: #bbb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
	a.button:focus, a.button:hover, button:focus, button:hover {
		color: #111;
		border: 1px solid #d1d1d1;
		border-right-color: #b1b1b1;
		border-bottom-color: #b1b1b1;
	}
	a.button img, button img { margin-right: 7px; }
	a.cancel, button.cancel { color: #D12F19; border-color: #fbc2c4; }
		a.cancel:focus, a.cancel:hover, button.cancel:focus, button.cancel:hover { color: #ab210f; border-color: #f2b2b5; }
	a.save, button.save { color: #529214; border-color: #bcdc9c; }
		a.save:focus, a.save:hover, button.save:focus, button.save:hover { color: #43790f; border-color: #b3d194; }
	a.skip, button.skip { color: #369; border-color: #b5daeb; }
		a.skip img, button.skip img { margin: 0 0 0 7px; }
		a.skip:focus, a.skip:hover, button.skip:focus, button.skip:hover { color: #010461; border-color: #aad3e6; }

input, select, textarea {
	font: 12px/18px Tahoma, Georgia;
	color: #444;
	background: #f5f5f5;
	padding: 5px 7px;
	border: 1px solid #e4e4e4;
	border-top-color: #c8c8c8;
	border-left-color: #c8c8c8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	input[type=checkbox], input[type=radio] {
		float: none !important;
		width: 14px !important;
		height: 14px !important;
		margin: 0 7px 0 0 !important;
		padding: 0 !important;
	}
		input[type=radio] { background: #fff; border: 0; }
	input[type=password]:focus, input[type=password]:hover, input[type=text]:focus, input[type=text]:hover, select:focus, select:hover, textarea:focus, textarea:hover {
		color: #111;
		background: #fff6d9;
		outline: none;
		border: 1px solid #d1d1d1;
	}
	select { padding-right: 5px; }
		option { padding-left: 7px; }
	textarea { overflow: auto; }
/* Global definitions (end) */


/* Main containers (begin) */
#layout, .messages span, #browsers p { -moz-box-shadow: 0 5px 30px #E6E5D9; -webkit-box-shadow: 0 5px 30px #E6E5D9; box-shadow: 0 5px 30px #E6E5D9; }

#layout {
	
	width: 900px;
	background: #faecc8 url(header.gif) 0 0 repeat-x;
	margin: 0 auto;
	border: 1px solid #e1e0d5;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
}

#content {
	background: #fff;
	padding: 35px 0 30px;
	border-bottom: 1px solid #e1e0d5;
	overflow: hidden;
	_zoom: 1;
}
/* Main containers (end) */


/* Header (begin) */
.messages, #browsers { height: 60px; text-align: center; }
	#browsers { height: 90px }
	.messages span, #browsers p {
		position: relative;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		text-shadow: 1px 1px 1px #fff;
		background: #FFFFE0 url(info.png) 18px 7px no-repeat;
		padding: 0 18px 0 45px;
		border: solid #eae1bd;
		border-width: 0 1px 1px;
		-moz-border-radius-bottomleft: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		border--bottom-left-radius: 8px;
		border--bottom-right-radius: 8px;
		overflow: hidden;
	}
		#browsers p {
			color: #888;
			background: #f3efd4;
			padding-left: 18px;
			border-color: #e1e0d5;
		}
			#browsers p span { text-decoration: underline; }
			#browsers p a, #browsers p a:hover span { color: #777; text-decoration: none; }
			#browsers img { margin: 0 4px; }

#header {
	position: relative;
	height: 100px;
	padding: 0 35px;
	border-bottom: 1px solid #E6E5D9;
	overflow: hidden;
	white-space: nowrap;
}
	#header div { float: left; font: 37px/40px Georgia; padding-top: 30px; }
		#header div a {
			position: relative;
			float: left;
			color: #333;
			text-decoration: none;
			text-shadow: 1px 1px 1px #fff;
			border-bottom: 1px dotted #999;
		}
			#header div a:hover { border-bottom-style: solid; }
		#header div span { color: #777; }
		#header div i {
			position: absolute;
			right: -20px;
			top: 5px;
			display: none;
			width: 11px;
			height: 10px;
			background: url(home.gif);
			overflow: hidden;
		}
			#header div a:hover i { display: block; }
	#header ul { float: right; font-size: 20px; padding-top: 41px; }
		#header li { float: left; }
			#header li a span { text-decoration: underline; }
			#header li a, #header li a:hover span { color: #888; text-decoration: none; }
				#header li a.current span { color: #000; }
			#header li img { margin-right: 10px; }
			#header li i {
				font: 14px Tahoma;
				color: #ddd;
				margin: 0 14px;
				vertical-align: middle;
			}

#links { border-bottom: 1px solid #D5E1EC; }
	#links-inner {
		height: 42px;
		line-height: 42px;
		color: #D5E1EC;
		background: #E1F1FA;
		padding: 0 35px;
		border: solid #fff;
		border-width: 1px 0;
	}
		#links ul { float: left; }
			#links li { display: inline; margin-right: 7px; }
				#links span { color: #888; margin-right: 6px; }
				#links a { color: #39C; margin-right: 7px; }
					#links span a { margin: 0; }
		#links p { float: right; color: #222; }
			#links p span { margin-left: 7px; }
		#links img { margin-right: 10px; }
/* Header (end) */


/* Content (begin) */
.edit_user, .form { padding-top: 5px; }
	.form p { margin: 0 0 25px 35px; }
	.edit_user fieldset, .form fieldset { padding-bottom: 10px; overflow: hidden; _zoom: 1; }
		.edit_user label, .form label {
			float: left;
			width: 140px;
			text-align: right;
			margin: 4px 15px 0 0;
		}
		.edit_user input, .form  input, .form textarea { float: left; width: 200px; margin-right: 15px; }
		.form .checkbox { margin: 0 0 10px 155px; }
			.form .checkbox label { float: none; width: auto; margin: 0; }
	.form div { overflow: hidden; _zoom: 1; }
		.edit_user button, .form button { width: 104px; margin: 0 8px 0 155px; }
			.edit_user a.button { width: 82px; }
			.form button { width: 216px; margin-right: 0; }
		.form div.fieldWithErrors { overflow: visible; _zoom: auto; }
			.form div.fieldWithErrors label { color: #f00 !important; }
	.form a { float: left; margin-top: 4px; }

.f-exam input, .f-exam textarea { width: 660px; }
	.f-exam textarea { max-width: 660px; min-width: 660px; }
.f-exam button { width: 140px; margin-right: 8px; }
.f-exam a.cancel { width: 118px; margin: 0;}

.f-questions h2 { margin-top: 55px; }
.f-questions .actions { padding: 0 0 15px 155px; overflow: hidden; _zoom: 1; }
	.f-questions .actions li { float: left; padding-right: 8px; }
.f-questions table { width: 100%; margin-bottom: 15px; }
	.f-questions th { width: 155px; text-align: center; padding: 15px 0; }
		.f-questions th img { padding: 0 4px; }
	.f-questions td { padding: 15px 60px 15px 0; }
	.f-questions tr.even { background: #fafafa; }
	.f-questions tr.odd { background: #F0F1F7; }
	.f-questions table a { float: none; display: inline; margin: 0; }

fieldset.short input { width: 124px; text-align: center; }

.errorExplanation {
	background: #f5f2ed;
	margin: 0 25px 25px;
	padding: 17px 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
	.errorExplanation h2 {
		font: 18px/23px Tahoma;
		letter-spacing: 0;
		margin: 3px 0 20px;
	}
	.errorExplanation p { margin: 0 0 10px; }
	.errorExplanation ul { list-style: square outside; margin-left: 20px; }
		.errorExplanation li { margin-top: 5px; }

.start-exam { margin: 20px 25px 0; }
	.start-exam button { margin-right: 8px; }

.exams-list { margin-bottom: -25px; }
	.exams-list dt {
		font: 18px/24px Tahoma;
		color: #666;
		background: #F8F0D8 url(exam.png) 35px 50% no-repeat;
		padding: 11px 35px 11px 70px;
		border-top: 1px solid #e1e0d5;
		overflow: hidden;
		_zoom: 1;
	}
		.exams-list dt a { text-decoration: none; border-bottom: 1px dotted #3671A1; }
			.exams-list dt a:hover { border: 0; }
		.exams-list dt span { float: right; font-size: 13px; white-space: nowrap; }
				.exams-list dt span.count { font-size: 18px; }
					.exams-list dt span.count img { margin-right: 10px; }
			.exams-list dt span a { border: 0; }
				.exams-list dt span i { font-style: normal; text-decoration: underline; }
				.exams-list dt a:hover i { text-decoration: none; }
	.exams-list dd { padding: 11px 25px 25px; }
		.exams-list dd ul { font-size: 12px; color: #888; padding-top: 10px; }
			.exams-list dd ul.history { }
			.exams-list dd li { display: inline; }
				.exams-list dd li span { color: #bbb; margin: 0 7px 0 10px; }
				.exams-list dd li strong { margin-left: 5px; }
		.exams-list dd .submit { padding-top: 10px; overflow: hidden; _zoom: 1; }

.exam .title { background: #F8F0D8 url(question.png) 35px 50% no-repeat; padding: 11px 35px 11px 70px; border-top: 1px solid #e1e0d5; }
.exam .question { margin: 15px 35px 0; }
	.exam dl, .exam  .submit { padding-bottom: 20px; overflow: hidden; _zoom: 1; }
		.exam  .submit { padding: 0 0 0 35px; }
			.exam  .submit button { margin-right: 8px; }
		.exam dt { float: left; width: 35px; margin: 1px -35px 0 0; }
		.exam dd { margin-left: 35px; }
/* Content (end) */


/* Footer (begin) */
#footer {
	height: 42px;
	line-height: 42px;
	color: #888;
	padding: 0 35px;
	border-top: 1px solid #fff;
	overflow: hidden;
	_zoom: 1;
}
	#footer a { color: #777; }
		#footer a.current { color: #444; }
	#footer ul { float: right; color: #bbb; margin-right: -5px; }
		#footer li { display: inline; margin-left: 5px; }
			#footer li a { margin-right: 5px; }
/* Footer (end) */


/* Hacks (begin) */
@-moz-document url-prefix() {
	a.button img { margin-top: -1px; }
	button { padding: 4px 10px; }
		button img { vertical-align: top; }
	.messages span, #browsers p { display: inline; padding-top: 8px; padding-bottom: 8px; }
		.messages span, x:-moz-any-link, x:default, #browsers p, x:-moz-any-link, x:default { padding-top: 0; padding-bottom: 0; }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
a.button { padding-bottom: 2px; }
button { padding-top: 2px; }
a.button img, button img, h1 img, h2 img { position: relative; top: -1px; }
a.save img, button.save img { top: -2px; }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
	body:nth-of-type(1) #layout, body:nth-of-type(1) .messages span, body:nth-of-type(1) #browsers p { -webkit-box-shadow: none;  }
}
/* Hacks (end) */