/*
	Author: Damir Gubaydullin (FlatSoft LLC)
*/

/* Hard CSS, protect from dummies */


/* Global definitions (begin) */
h1 { *margin-bottom: 10px; }
	h1 span img { *position: relative; *top: 3px; }

a.button { _height: 17px; _padding-top: 4px; }
	a.cancel { padding-bottom: 2px; *padding-bottom: 3px; }
button { _height: 26px; *padding-top: 2px; overflow: visible; }
	button.save { *padding-top: 1px; _padding-top: 2px; }

a.button img, button img { position: relative; top: -1px; *top: 1px; }
a.skip img, button.skip img { *position: static; }

input { padding: 3px 7px 7px; }
	* html input { scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', className = (className) ? (className) + ' type-'+type : (className) + 'type-'+type); }
		.form input.type-checkbox, .type-checkbox, .form input.type-radio, .type-radio {
			width: auto;
			_margin: 0 7px 0 0;
			padding: 0;
			border: 0;
		}
/* Global definitions (end) */


/* Header (begin) */
#browsers p {
	*display: inline;
	_height: 24px;
	_padding-top: 8px;
	*zoom: 1;
}

#header div a:hover i { _display: none; }

#links-inner { _height: 29px; _padding-top: 13px; }
/* Header (end) */


/* Content (begin) */
#content { *padding-bottom: 30px; }

.form { *padding-top: 0; }

.exams-list { *margin-top: 20px; }
/* Content (end) */


/* Footer (begin) */
#footer ul { _margin-right: -2px; }
/* Footer (end) */


/* HasLayout (begin) */
h1,
#content,
.edit_user fieldset,
.form fieldset,
.form div,
.f-questions .actions,
.exams-list dt,
.exams-list dd .submit,
.exam dl,
.exam  .submit,
#footer { _zoom: 1; }
.form div.fieldWithErrors { _zoom: normal; }
/* HasLayout (end) */