/*
	Author: Damir Gubaydullin (FlatSoft LLC)
*/

/* Hard CSS, protect from dummies */


/* Global definitions (begin) */
* { margin: 0; padding: 0; }

body {
	font: 400 13px/20px Georgia, Arial;
	color: #444;
	text-align: left;
	background: #f0eee0;
}

fieldset, img { border: 0; }
table, td { border-collapse: collapse; border-spacing: 0; }
	
div { vertical-align: top; }

ol, ul { list-style: none; }

button, img, input, label, select, td { vertical-align: middle; }
button, label { cursor: pointer; }
	label:hover { color: #000 !important; }

:active, :focus { outline: none; -moz-outline-style: none; }

::selection { color: #fff; background: #059bcd; }
::-moz-selection { color: #fff; background: #059bcd; }


/* Links */
a { color: #3671A1; text-decoration: underline; }
	a:hover, a.button { color: #444; text-decoration: none; }


/* Titles */
h1 {
	font: 27px/32px Arial;
	letter-spacing: -1px;
	color: #222;
	margin: 0 35px 20px;
	overflow: hidden;
	_zoom: 1;
}
	h1 span { float: right; white-space: nowrap; }
		h1 span i {
			font-size: 18px;
			font-style: normal;
			letter-spacing: 0;
			text-decoration: underline;
		}
			h1 span a, h1 span a:hover i { text-decoration: none; }
		h1 span img { margin: 3px 7px 0 0; }
h2 {
	font: 22px/27px Tahoma;
	color: #555;
	text-align: center;
	margin-bottom: 20px;
}
	h2 img { margin-right: 10px; }


/* Form elements */
a.button, button {
	float: left;
	max-height: 30px;
	font: 12px/18px Tahoma, Georgia;
	color: #444;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	background: #fff url(button.gif) 0 100% repeat-x;
	padding: 3px 10px;
	border: 1px solid #ddd;
	border-right-color: #bbb;
	border-bottom-color: #bbb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
	a.button:focus, a.button:hover, button:focus, button:hover {
		color: #000;
		border: 1px solid #d1d1d1;
		border-right-color: #b1b1b1;
		border-bottom-color: #b1b1b1;
	}
	a.cancel, button.cancel { color: #D12F19; border-color: #fbc2c4; }
		a.cancel:focus, a.cancel:hover, button.cancel:focus, button.cancel:hover { border-color: #f2b2b5; }
	a.save, button.save { color: #529214; border-color: #bcdc9c; }
		a.save:focus, a.save:hover, button.save:focus, button.save:hover { border-color: #b0d28f; }
	a.button img, button img { margin-right: 7px; }

input, select, textarea {
	font: 12px/18px Tahoma, Georgia;
	color: #444;
	background: #f9f9f9;
	padding: 5px 7px;
	border: 1px solid #e4e4e4;
	border-top-color: #c8c8c8;
	border-left-color: #c8c8c8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	input[type=checkbox] {
		float: none !important;
		width: 14px !important;
		height: 14px !important;
		margin: 0 7px 0 0 !important;
		padding: 0 !important;	
	}
	input[type=password]:focus, input[type=password]:hover, input[type=text]:focus, input[type=text]:hover, select:focus, select:hover, textarea:focus, textarea:hover {
		color: #111;
		background: #fff6d9;
		outline: none;
		border: 1px solid #d1d1d1;
	}
	select { padding-right: 5px; }
		option { padding-left: 7px; }
/* Global definitions (end) */


/* Main containers (begin) */
#layout, .messages span, #browsers p { -moz-box-shadow: 0 5px 30px #E6E5D9; -webkit-box-shadow: 0 5px 30px #E6E5D9; box-shadow: 0 5px 30px #E6E5D9; }

#layout {
	width: 900px;
	background: #fff url(header.gif) 0 0 repeat-x;
	margin: 0 auto;
	border: 1px solid #e4e3d7;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.messages, #browsers { height: 60px; text-align: center; }
	#browsers { height: 90px }
	.messages span, #browsers p {
		position: relative;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		text-shadow: 1px 1px 1px #fff;
		background: #FFFFE0;
		padding: 0 18px 0 45px;
		border: solid #eae1bd;
		border-width: 0 1px 1px;
		-moz-border-radius-bottomleft: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		border--bottom-left-radius: 8px;
		border--bottom-right-radius: 8px;
		overflow: hidden;
	}
		#browsers p {
			color: #888;
			background: #f9e6cb;
			padding-left: 18px;
			border-color: #e4e3d7;
		}
			#browsers p span { text-decoration: underline; }
			#browsers p a, #browsers p a:hover span { color: #777; text-decoration: none; }
			#browsers img { margin: 0 4px; }
		.messages i {
			position: absolute;
			left: 18px;
			top: 7px;
			width: 16px;
			height: 16px;
			background: url(info.png);
			overflow: hidden;
		}

#header {
	position: relative;
	height: 101px;
	padding: 0 35px;
	border-bottom: 1px solid #E6E5D9;
	overflow: hidden;
	white-space: nowrap;
}
	#header div { float: left; font: 37px/40px Georgia; padding-top: 30px; }
		#header div a {
			position: relative;
			float: left;
			color: #333;
			text-decoration: none;
			text-shadow: 1px 1px 1px #fff;
			border-bottom: 1px dotted #999;
		}
			#header div a:hover { border-bottom-style: solid; }
		#header div span { color: #777; }
		#header div i {
			position: absolute;
			right: -20px;
			top: 5px;
			display: none;
			width: 11px;
			height: 10px;
			background: url(home.gif);
			overflow: hidden;
		}
			#header div a:hover i { display: block; }
	#header ul { float: right; font-size: 20px; padding-top: 41px; }
		#header li { float: left; }
			#header li a span { text-decoration: underline; }
			#header li a, #header li a:hover span { color: #888; text-decoration: none; }
				#header li a.current { color: #000; }
			#header li img { margin-right: 10px; }
			#header li i {
				font: 14px Tahoma;
				color: #ddd;
				margin: 0 14px;
				vertical-align: middle;
			}

#links { border-bottom: 1px solid #D5E1EC; }
	#links-inner {
		height: 42px;
		line-height: 42px;
		color: #D5E1EC;
		background: #E1F1FA;
		padding: 0 35px;
		border: solid #fff;
		border-width: 1px 0;
	}
		#links ul { float: left; }
			#links li { display: inline; margin-right: 7px; }
				#links span { color: #888; margin-right: 6px; }
				#links a { color: #39C; margin-right: 7px; }
					#links span a { margin: 0; }
		#links p { float: right; color: #666; }
			#links p span { margin-left: 7px; }
		#links img { margin-right: 10px; }

#content { margin: 35px 0 30px; overflow: hidden; _zoom: 1;}




			
			
.edit_user, .form { padding-top: 5px; }
	.form p { margin: 0 0 25px 25px; }
	.edit_user fieldset, .form fieldset { padding-bottom: 10px; overflow: hidden; _zoom: 1; }
		.edit_user label, .form label {
			float: left;
			width: 140px;
			text-align: right;
			margin: 4px 15px 0 0;
		}
		.edit_user input, .form  input { float: left; width: 200px; margin-right: 15px; }
		.form .checkbox { margin: 0 0 10px 155px; }
			.form .checkbox label { float: none; width: auto; margin: 0; }
		.edit_user button, .form button { width: 104px; margin: 0 8px 0 155px; }
			.edit_user a.button { width: 82px; }
			.form button { width: 216px; margin-right: 0; }
	.form a { float: left; margin-top: 4px; }

.errorExplanation {
	background: #f5f2ed;
	margin: 0 25px 25px;
	padding: 17px 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
	.errorExplanation h2 { font: 18px/23px Tahoma; text-align: left; margin-bottom: 20px; }
	.errorExplanation p { margin: 0 0 10px; }
	.errorExplanation ul { list-style: square outside; margin-left: 20px; }
		.errorExplanation li { margin-top: 5px; }

.start-exam { margin: 20px 25px 0; }
	.start-exam button { margin-right: 8px; }

.exams-list { margin-bottom: -25px; }
	.exams-list dt {
		font: 18px Tahoma;
		background: #FFF9D8 url(exam.png) 25px 50% no-repeat;
		padding: 10px 25px 10px 55px;
		border-top: 1px solid #ddd;
		overflow: hidden;
		_zoom: 1;
	}
		.exams-list dt.good { background-color: #E4F5D3; }
		.exams-list dt.bad { background-color: #f1eae1; }
		.exams-list dt a { text-decoration: none; border-bottom: 1px dotted #3671A1; }
			.exams-list dt a:hover { border: 0; }
		.exams-list dt span {
			float: right;
			font-size: 13px;
			color: #444;
			padding-top: 3px;
			white-space: nowrap;
		}
			.exams-list dt span a { border: 0; }
				.exams-list dt span i { font-style: normal; text-decoration: underline; }
				.exams-list dt a:hover i { text-decoration: none; }
	.exams-list dd { padding: 10px 25px 25px; }
		.exams-list dd ul { font-size: 11px; color: #777; padding-top: 10px; }
			.exams-list dd li { display: inline; }
				.exams-list dd li span { color: #bbb; margin: 0 7px 0 10px; }

.exam { }
	.exam .title { background: #F4F1E3 url(question.png) 25px 50% no-repeat; padding: 10px 25px 10px 55px; border-top: 1px solid #E8E1CB; }
		.exam .title span { font-size: 22px; margin-right: 10px; }
	.exam dl { margin-bottom: -20px; padding: 20px 25px 0; }
		.exam dt { float: left; width: 40px; padding: 1px 0 15px; }
		.exam dd {
			_height: 1%;
			padding-bottom: 20px;
			overflow: hidden;
			*zoom: 1;
		}
		.exam dt { clear: both; }
	
	
	
/* Footer (begin) */
#footer {
	height: 40px;
	font: 12px/40px Georgia;
	color: #999;
	padding: 0 35px;
	border-top: 2px solid #e4e3d7;
	overflow: hidden;
	_zoom: 1;
}
	#footer a { color: #888; }
		#footer a.current { color: #444; }
	#footer ul { float: right; color: #bbb; margin-right: -5px; }
		#footer li { display: inline; margin-left: 5px; }
			#footer li a { margin-right: 5px; }
/* Footer (end) */


@-moz-document url-prefix() {
	button { padding: 4px 10px; }
		button img { vertical-align: top; }
		button.save { padding-bottom: 2px; }
		button.start { padding-bottom: 3px; }
	a.button img { margin-top: -1px; }
}