/* 
    Document   : exam
    Created on : 02.07.2009, 15:21:46
    Author     : askar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.exams{
  background-color: orange;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-color: yellow;
  border-left-color: yellow;
  border-bottom-color: yellow;
  border-top-color: yellow;
}

#exam_control{
  vertical-align: middle;
  text-align: center;
  border-right-style: dotted;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-top-style: dotted;
  border-right-color: silver;
  border-left-color: silver;
  border-bottom-color: silver;
  border-top-color: silver;
  position: inherit;
}