		<h1>Your settings</h1>
		<% form_for @user do |form| %>
		<%= render :partial => 'form', :object => form %>
		<div>
			<button class="save" type="submit" onclick="if (window.hiddenCommit) { window.hiddenCommit.setAttribute('value', this.value); }else { hiddenCommit = document.createElement('input');hiddenCommit.type = 'hidden';hiddenCommit.value = this.value;hiddenCommit.name = this.name;this.form.appendChild(hiddenCommit); }this.setAttribute('originalValue', this.value);this.disabled = true;this.value='Please, wait...';result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());if (result == false) { this.value = this.getAttribute('originalValue');this.disabled = false; }return result;"><img src="/css/save.png" alt="" />Save</button>
			<%= link_to '<img src="/css/cancel.png" alt="" />Cancel', root_path, :class => ['button ', 'cancel'] %>
	   </div>
		<% end %>