<div class="my-forms">
  <h2>Settings</h2>

  <% form_for @user do |form| %>
    <%= render :partial => 'form', :object => form %>
    <div class="submit-field">
      <%= form.submit 'Submit', :disable_with => 'Please, wait...' %> or <%= link_to 'Cancel', root_path %>
    </div>
  <% end %>
</div>
