<h1>Your settings</h1>
<% form_for @user do |form| %>
  <%= render :partial => 'form', :object => form %>
  <div>
    <button class="save" type="submit"><%= image_tag("save.png") %>Save</button>
    <%= link_to '<img src="/images/cancel.png" alt="" />Cancel', root_path, :class => 'button cancel' %>
  </div>
<% end %>