		<h1>Your settings</h1>
		<% form_for @user do |form| %>
		<%= render :partial => 'form', :object => form %>
			<div>
				<button class="save" type="submit"><img src="/css/save.png" alt="" />Save</button>
				<%= link_to '<img src="/css/cancel.png" alt="" />Cancel', root_path, :class => 'button cancel' %>
			</div>
		<% end %>