<h1>Sign up</h1>
<div class="form login">
  <% form_for @user do |form| %>
    <%= render :partial => 'form', :object => form %>
    <div>
      <button type="submit">Submit</button>
    </div>
  <% end %>
</div>