<h1>
  <span><%= link_to_if(current_user.admin?, '<img src="/css/add.png" alt="" /><i>Create new exam</i>', new_exam_path) {} %></span>
  Exam choosing list
</h1>
<dl class="exams-list">
  <%= render :partial => 'exam_short', :collection => @exams %>
</dl>