<h1>New exam</h1>
<div class="form f-exam">
  <% form_for(@exam) do |f| %>
    <%= render 'form', :f => f %>
    <div>
      <%= add_button_tag %>
      <%= cancel_button_tag(exams_path) %>
    </div>
  <% end %>
</div>