<h1>Examination</h1>

<dl class="exams-list">
  <%= render @exam %>
</dl>

<% form_for @exam.user_exams.build do |f| %>
  <div class="start-exam">
    <%= f.hidden_field :exam_id %>
    <%= image_button_tag 'start.png', 'Start exam' %>
    <%= cancel_button_tag(exams_path) %>
  </div>
<% end %>
