<%= render :partial => 'exam_full', :object => @exam %>
<% form_for @user_exam do |form| %>
  <div class="start-exam">
    <%= form.hidden_field :exam_id %>
    <button class="save" type="submit"><img src="/css/start.png" alt="" />Start exam</button>
    <%= link_to '<img src="/css/cancel.png" alt="" />Cancel', :back, :class => 'button cancel' %>
  </div>
<% end %>