<div id="header">
  <%= render 'layouts/main_links', :with_logo => true %>
  <div><a href="/">FlatSoft<span> / Exams</span><i></i></a></div>
</div>
<div id="links">
  <div id="links-inner">
    <% if signed_in? %>
      <p>
        <%= image_tag('user.png') %>
        <%= current_user.name %>
        <span>(<%= link_to 'Log out', session_path, :method => :delete %>)</span>
      </p>
    <% end %>
  </div>
</div>