<% if signed_in? %>
  <ul>
    <li>
      <%= main_menu_item('Settings', edit_user_path(current_user), 'edit.png', with_logo) %>
      |
    </li>
    <li>
      <%= main_menu_item('Exams list', root_path, 'exams.png', with_logo) %>
      |
    </li>
    <li>
      <%= main_menu_item('Your Exams', user_exams_path, 'stats.png', with_logo) %>
    </li>
  </ul>
<% end %>
