<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
    <title>Examinating site</title>
  </head>
  <body>
    <div id="main-menu">
      <%= render :partial => 'layouts/flashes' %>
      <%= render :partial => 'layouts/clearance' %>
      <%= render :partial => 'layouts/main_links' %>
    </div>
    <%= yield %>
  </body>
</html>
